web/WEB-INF/wsdl/localhost_8080/cons_servidor/servicio_web_servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pkg_servicio_web/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pkg_servicio_web/" name="servicio_web_servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://pkg_servicio_web/" schemaLocation="http://localhost:8080/cons_servidor/servicio_web_servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="modificar">
<part name="parameters" element="tns:modificar"/>
</message>
<message name="modificarResponse">
<part name="parameters" element="tns:modificarResponse"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="buscartodo">
<part name="parameters" element="tns:buscartodo"/>
</message>
<message name="buscartodoResponse">
<part name="parameters" element="tns:buscartodoResponse"/>
</message>
<portType name="servicio_web_servidor">
<operation name="modificar">
<input wsam:Action="http://pkg_servicio_web/servicio_web_servidor/modificarRequest" message="tns:modificar"/>
<output wsam:Action="http://pkg_servicio_web/servicio_web_servidor/modificarResponse" message="tns:modificarResponse"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://pkg_servicio_web/servicio_web_servidor/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://pkg_servicio_web/servicio_web_servidor/buscarResponse" message="tns:buscarResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://pkg_servicio_web/servicio_web_servidor/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://pkg_servicio_web/servicio_web_servidor/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://pkg_servicio_web/servicio_web_servidor/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://pkg_servicio_web/servicio_web_servidor/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="buscartodo">
<input wsam:Action="http://pkg_servicio_web/servicio_web_servidor/buscartodoRequest" message="tns:buscartodo"/>
<output wsam:Action="http://pkg_servicio_web/servicio_web_servidor/buscartodoResponse" message="tns:buscartodoResponse"/>
</operation>
</portType>
<binding name="servicio_web_servidorPortBinding" type="tns:servicio_web_servidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscartodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicio_web_servidor">
<port name="servicio_web_servidorPort" binding="tns:servicio_web_servidorPortBinding">
<soap:address location="http://localhost:8080/cons_servidor/servicio_web_servidor"/>
</port>
</service>
</definitions>